body {
font-family: "Lato", sans-serif;
}
.footer-spacer{
height:200px;
}
#custom_top.col-md-12 img{
display : block;
margin-left:auto;
margin-right:auto;
}
.category-products {
padding-top :0px;
}
/*.products .product-right {
background:none;
}*/
.products .product-container .inner{
overflow: visible;
}
.products .product-left{
overflow :visible;
}
.block-product-image {
    margin-top: 30px;
    padding: 10px;
}
.box-border {
    border: 1px solid #eaeaea;
    padding: 20px;
    overflow: visible;
}
.product-img img  {
min-width : 50px;
max-width: 150px;
height:auto;
}
/*
*.products img  {
*width : auto;
*height: auto;
*}
*/
.product-img img {
   -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.product-img:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.img img-responsive block block-categories-slider mb8 {
display :block;
margin-left : auto;
margin-right: auto;
}

.img-responsive {
display : block;
margin-left: auto;
margin-right:auto;
max-width: 200px;
height : auto;
}

.price  {
color : #303030;
 font-weight: 300;
}
.product-name {
text-align : center;
font-size : 20px;
font-weight: 500;
padding-bottom : 0px;
}
.product-name a{
#border-bottom: 1px solid currentColor;
}
 .price-box {
text-align : center;
margin-top : -2px;
}

.page-intro {
display : none;
}
.products_pager { 
display : none;
}
.sortPagiBar {
display : none;
}
.quick-view {
display : none;
}
.product-button  {
display:none;
}
.row h3  {
display : none;
}
.col-md-4,
.col-sm-6,
.col-xs-12,
.product{
    position : relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
   border-style: none;
}
.category-products .products .product-container {
    border-top: 0px;
    border-left: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 0px px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 0px rgba(216, 0, 0, 0.5);
    float: left;
    width: 100%;
   margin-bottom : 15px;
}


}
