@media (min-width: 1200px) {
       .container {
        width: 100%;
        margin-left : 15px;
        margin-right : 15px;
    }
}
@media (min-width: 992px) {
       .container {
        width: 100%;
        margin-left : 15px;
        margin-right : 15px;
    }
}
@media (min-width: 768px) {
       .container {
        width: 100%;
        margin-left : 10px;
        margin-right : 10px;
    }
}
.img img-responsive block block-categories-slider mb8 {
display :block;
margin-left : auto;
margin-right: auto;
}


#categories-menu .navbar-default {
    background-color: rgba(255, 255, 255, 0);
    border-color: #01305C;
}
/* ========================================================================
 * DECOM d.o.o.
 * Distribucija sadrzaja zabranjena
 * ========================================================================
 * NAVIGACIja - NAVIGATION ======================================================================== */

#categories-menu .navigacija {
    text-transform: uppercase;
    position: relative !important;
}
#categories-menu .navbar-collapse.collapse {
    overflow: hidden !important;
}
#categories-menu .navigacija > ul {
    margin-top: 1290px;
    margin-left: 50px !important;
}
@media (max-width: 768px) {
    #categories-menu .navigacija > ul {
        margin-top: 0;
        margin-left: 0 !important;
    }
    #categories-menu .navbar-collapse.collapse {
        overflow: visible !important
    }
}
#categories-menu .dropdown-menu {
    width: 100%;
    position: fixed;
    top: 101px;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
}
#categories-menu .dropdown-menu li {
    display: inline-block;
}
#categories-menu .dropdown-menu li.dropdown .dropdown-menu {
    top: 210px;
}
#categories-menu .dropdown-menu li.dropdown {
    background: url(http://decombh.org/img/nav_down.png) no-repeat bottom right !important;
    background-position: 5px 9px !important;
}
#categories-menu .navbar-brand img {
    max-width: 130px;
}
