/**/
/**/

@media (max-width: 992px) {
   
    
}

@media (max-width: 767px) {
    
    .products .product-right {
    background: transparent;
    }
    
    .product-left {
        display : none;
        background: #1cc1a9;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
        z-index: 2;
        overflow: hidden;
        border: solid #1cc1a9 2px;
        border-radius: 5px;
    }
    .product-left:hover {
    background: #9fefe3;
    }
    
    .col-xs-12 {
        width : 50%;
    }
    #categories-menu .navbar-nav .open .dropdown-menu {
        position: absolute;
        top: 50;
        float: left;
        width: 100%;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        box-shadow: none;
    }
    #categories-menu .navbar {
        border: none;
        border-bottom: 1px solid transparent;
        margin-bottom: 0px;
        min-height : 100%;
    }
    #categories-menu .navbar-nav .open .dropdown-menu > li > a,
    #categories-menu .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    #categories-menu .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    #categories-menu .navbar-nav .open .dropdown-menu > li > a:hover,
    #categories-menu .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }
    #categories-menu .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777777;
    }
    #categories-menu .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    #categories-menu .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333333;
        background-color: transparent;
    }
    #categories-menu .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    #categories-menu .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    #categories-menu .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555555;
        background-color: #e7e7e7;
    }
    #categories-menu .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a,
    #categories-menu .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    #categories-menu .navbar-default .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }
    .container #categories-menu {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    #categories-menu .navbar {
        border-radius: 0px;
    }
    #categories-menu #menu-header{
    width : 100%;
    margin : auto;
    }
}
@media (min-width: 992px) {
    .container {
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }
    .container #categories-menu {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    #categories-menu .navbar {
        border-radius: 0px;
    }
    #categories-menu #menu-header{
    width : 100%;
    margin : auto;
    }
}
@media (min-width: 768px) {
    .container {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }
    .container #categories-menu {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
    }
    #categories-menu .navbar {
        border-radius: 0px;
    }
    #categories-menu #menu-header{
    width : 100%;
    margin : auto;
    }
}
.img img-responsive block block-categories-slider mb8 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*--*/
#categories-menu .navbar-default .navbar-nav > li > a {
    color: #333333;
    text-align : center;
}
#categories-menu .navbar-default .navbar-nav > li > a:hover {
    color: #333333;
}
#categories-menu .nav > li {
    border : none;
    width : 33.3333%;
    margin: auto;
}
#categories-menu .nav > ul {
    width: 100%;
    margin: auto;
}
#categories-menu .navbar {
        border: none;
        border-bottom: 1px solid transparent;
        margin-bottom: 0px;
        min-height : 100%;
}

#categories-menu .nav navbar-nav navbar-left {
    width : 100%;
    margin : auto;
}

#categories-menu .navbar .container .navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
#categories-menu .navbar-default {
    background: none;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid #333333;
    border-left : 0;
    border-top: 0;
    border-right: 0;
}
#categories-menu .navigacija {
    text-transform: uppercase;
    position: relative !important;
}
#categories-menu .navbar-collapse.collapse {
    overflow: hidden !important;
}
#categories-menu .navigacija > ul {
    margin-top: 1290px;
    margin-left: 50px !important;
}
@media (max-width: 768px) {
    #categories-menu .navigacija > ul {
        margin-top: 0;
        margin-left: 0 !important;
    }
    #categories-menu .navbar-collapse.collapse {
        overflow: visible !important
    }
}
#categories-menu .dropdown-menu {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 0 auto;
    text-align: center;
}
#categories-menu .dropdown-menu li {
    display: inline-block;
}
#categories-menu .dropdown-menu li.dropdown .dropdown-menu {
    top: 50px;
}
