.hero-banner h1 {
   text-align: right;
   line-height: 110%;
   margin-right: 10vw;
}
@media (max-width: 768px) {
   .hero-banner h1 {
     text-align: center;
     margin : 0px 10px 0px 10px;
     font-weight : 400;
     font-size : 200%;
    } 
}

