#rowhero-banner {
   height: 10vh;
}
#logo {
   max-height: 8vh;
   margin: 5px;
}
.hero-banner h1 > span {
   color : #034a56;
}
.hero-banner h1 {
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #fff0f0;
    text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 3px 3px 0px rgba(0,0,0,0.05);
    text-align: right;
    line-height: 110%;
}
@media (max-width: 767px) and (min-width: 481px){
   body {
    padding: 0 ;
   }
}
@media (max-width: 768px) {
   .hero-banner h1 {
     text-align: center;
     margin : 0px 10px 0px 10px;
     font-weight : 400;
     font-size : 200%;
    }
   #rowhero-banner {
      height: unset;
   }
   #logo {
      max-height : unset;
      float : unset;
      margin : auto;
      margin-top:20px;
   }
   #logo.pull-left {
    float: unset !important;
}

