/*.navbar-default{
  background : url(../img/lagoon-banner.jpg);
  background-repeat : no-repeat;
  background-size : cover;
}*/
.navbar-default {
  border-bottom : solid 1px;
  border-color : #1abb9c;
  background-color : #ffffff;
}
#top_menu {
  margin-top : 5px;
}

.navbar.navbar-static-top ul.nav > li.divider {
    display: none;
    /* margin-top: 15px; */
    /* padding-top: 20px; */
    /* border-right: 1px solid grey; */
}

/*.navbar-default .navbar-nav > li > a {
  color : #FFFFFF;
}*/
.navbar-default .navbar-nav > li > a {
    line-height: 30px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  font-weight : 600;
  color : #FFFFFF;
  background-color: #1abb9c;
  border-radius : 15px;
}

.navbar-default .navbar-nav > .dropdown > a:hover,
.navbar-default .navbar-nav > .dropdown > a:focus {
  font-weight : 600;
  color : #FFFFFF;
  background-color: #1abb9c;
  border-radius : 15px;
}

.navbar-default .navbar-nav > a; {
  color : #000000;
}
.navbar-default .navbar-nav > a:hover,
.navbar-default .navbar-nav > a:focus {
  font-weight : 600;
  color : #FFFFFF;
  background-color: #1abb9c;
  border-radius : 15px;
}

/*.navbar-default .navbar-nav > li:hover,
.navbar-default .navbar-nav > li:focus {
  font-weight : 600;
  color : #FFFFFF;
  background-color: #1abb9c;
  border-radius : 15px;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  font-weight : 600;
  color : #FFFFFF;
  background-color: #1abb9c;
  border-radius : 10px;
}*/

.nav > li {
    position: relative;
    display: block;
    margin: 5px 3px 5px 0px;
    /*height: 35px;*/
    /*border-left: 2px solid #777777;*/
}

@media (min-width: 768px){
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
