.navbar-default{
  background : url(../img/sand2.jpg);
  background-repeat : no-repeat;
  background-size : cover;
}

.navbar-default .navbar-nav > li > a {
  color : #FFFFFF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  font-weight : 700;
  color : #FFFFFF;
  background-color: rgba(0, 0, 0, 0.36);
}
